body {
    font-family: 'Poppins', Helvetica, arial, sans-serif;
}


.navbar {
    padding-top: 0;
    padding-bottom: 0;
    background-color: black;
}

.navbar-brand {
    font-weight: 600;

    padding: 25px 10px;
}



.navbar .nav-item .nav-link:hover {
    color: #ec3237;
    border-bottom: solid 2px;
}

.navbar .nav-item .nav-link {
    color: #fff;
    padding: 27px 25px;
    font-weight: 600;
    font-size: 13px;

}

.home {
    background-image: url(cover.jpg);
    background-size: 100% 100%;
    height: 700px;
    position: relative;

}

.btn_inverse {
    background-color: transparent;
    border: 2px solid #ffffff;
    color: #ffffff;
}

.btn_inverse:hover {
    background-color: #fff;
    color: #ec3237;
}

.home-caption h1 {
    font-size: 60px;
    font-weight: 700;
    font-family: 'Poppins', Helvetica, arial, sans-serif;
    margin-top: 22%
}

.home-caption h3 {
    font-size: 24px;
    font-weight: 500;
    font-family: 'Poppins', Helvetica, arial, sans-serif;
}
